.width-21rem{
    width: 21rem;
    height: 240px;
}
.time{
    font-size: x-small;
}
.fas{
    font-size: 100px;
    margin-top: 47px;
    color: rgb(235, 235, 235);
}
.add-project:hover{
    cursor: pointer;
    .fas{
        color: rgb(190, 190, 190);
    }
}
.time-height{
    height: 20px;
}
.list-menu{
    cursor: pointer;
}

.row-1{
    height: 77px;
}
.row-2{
    height: 75px;
}
p{
    margin-bottom: 0!important;
}
@media screen and (max-width:380px){
    .width-21rem{
        width: 18rem;
        height: 280px;
    }
    .row-1{
        height: 90px;
    }
    .row-2{
        height: 90px;
    }
    .fas{
        margin-top: 70px;
    }
}