<form #userForm='ngForm' (ngSubmit)="onSave(userForm)">
    <div class="row">
        <div class="col-12">
            <div class="card card-outline card-info">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 form-group">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{ 'First Name' | translate }}</mat-label>
                                <input matInput type="text" placeholder="{{ 'Enter First Name' | translate }}"
                                    pattern="^[A-Za-zÇçÖöŞşÜüĞğİı ]+$" name="FirstName" #FirstName="ngModel"
                                    [(ngModel)]="_model.FirstName" required>
                                <mat-error *ngIf="FirstName.invalid&&FirstName.touched">
                                    {{ 'User First Name field must be filled' | translate }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 form-group">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{ 'Last Name' | translate }}</mat-label>
                                <input matInput type="text" placeholder="{{ 'Enter Last Name' | translate }}"
                                    pattern="^[A-Za-zÇçÖöŞşÜüĞğİı ]+$" name="LastName" #LastName="ngModel"
                                    [(ngModel)]="_model.LastName" required>
                                <mat-error *ngIf="LastName.invalid&&LastName.touched">
                                    {{ 'User Last Name field must be filled' | translate }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 form-group">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{ 'Email Address' | translate }}</mat-label>
                                <input matInput type="text"
                                    placeholder="{{ 'Enter Email Address' | translate }}"
                                    pattern="^[a-z0-9.%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" name="EmailAddress"
                                    #EmailAddress="ngModel" [(ngModel)]="_model.EmailAddress" required>
                                <mat-error *ngIf="EmailAddress.invalid&&EmailAddress.touched">
                                    {{ 'Email adress field must be filled' | translate }}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 form-group"
                            [hidden]="_router.isActive('/admin/user/profile',true)">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>{{'User Type'| translate}}</mat-label>
                                <select matNativeControl name="UserTypeName"
                                    [disabled]="_router.isActive('/admin/user/profile',true)" #UserTypeName="ngModel"
                                    ng-model="UserTypeNameSelect" [(ngModel)]="_model.UserTypeName" required>
                                    <option *ngFor="let userRole of userRoles" [value]="userRole.userTypeName"
                                        [disabled]="!userRole.authorize">
                                        {{ userRole.userTypeName | translate }}</option>
                                </select>
                                <mat-error *ngIf="UserTypeName.invalid&&UserTypeName.touched">
                                    {{ 'Choose the type of user' | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-12 p-0">
                            <div class="col-12 form-group">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>{{ 'Password' | translate }}</mat-label>
                                    <input matInput [type]=" _passwordShowHide ? 'text' : 'password'"
                                        placeholder="{{ 'Enter Password' | translate }}" name="Password"
                                        minlength="6" #Password="ngModel"
                                        [disabled]="_router.isActive('/admin/user/edit',false)"
                                        [(ngModel)]="_model.Password" required>
                                    <a type="button" matSuffix (click)="_passwordShowHide = !_passwordShowHide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="_passwordShowHide">
                                        <mat-icon>{{ _passwordShowHide ? 'visibility_off' : 'visibility'}}
                                        </mat-icon>
                                    </a>
                                    <mat-error
                                        *ngIf="Password.invalid && (Password.dirty || Password.touched) && Password.errors.minlength">
                                        {{ 'Password cannot be shorter than 6 characters' | translate }}</mat-error>
                                    <mat-error
                                        *ngIf="Password.invalid && (Password.dirty || Password.touched) && Password.errors.required">
                                        {{ 'Password field must be filled' | translate }}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 form-group text-right">
                                <button type="button"
                                    [hidden]="_router.isActive('/admin/user/edit',false) || _router.isActive('/admin/user/profile',true)"
                                    (click)="onAutomaticPasswordGeneration()"
                                    class="btn btn-success">{{ 'Automatic password generation' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-info w-100">{{'Save'| translate}}</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row"  [hidden]="!_router.isActive('/admin/user/profile',true)">
    <div class="col-12 account_detele">
        <a (click)="myAccountDelete()">{{ 'Delete my account' | translate }}</a>
    </div>
</div>