<div ma-dialog-title class="institution-dialog__header">
    <div class="modal-header">
        <h2>{{ 'Project Transactions' | translate}}</h2>
        <a [mat-dialog-close]="false" class="close-icon">
            <mat-icon>close</mat-icon>
        </a>
    </div>
</div>

<mat-dialog-content class="mat-typography institution-dialog__content">
    <form #addProjectForm='ngForm' (ngSubmit)="onSave(addProjectForm)">
        <div class="form-group mt-2">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Project Name' | translate }}</mat-label>
                <input matInput maxlength="50" type="text" placeholder="{{ 'Enter Project Name' | translate }}" name="ProjectName"
                    #ProjectName="ngModel" [(ngModel)]="_model.ProjectName" required>
                <mat-error *ngIf="ProjectName.invalid&&ProjectName.touched">
                    {{ 'Project Name field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>{{ 'Description' | translate }}</mat-label>
                <textarea matInput type="text" maxlength="100" placeholder="{{ 'Enter Description' | translate }}" name="Description"
                    #Description="ngModel" [(ngModel)]="_model.Description" class="textarea" required></textarea>
                <mat-error *ngIf="Description.invalid&&Description.touched">
                    {{ 'Description field must be filled' | translate }}</mat-error>
            </mat-form-field>
        </div>
        <button type="submit" class="btn btn-dark w-100">{{'Save'| translate}}</button>
    </form>
</mat-dialog-content>