<div class="row">
    <div class="col-md-3 col-sm-12 ml-auto ">
        <mat-form-field>
            <mat-label>{{ 'Search' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="searchText"
                placeholder="{{ 'Enter Words for Search' | translate }}" name="SearchText">
            <a type="button" matSuffix [attr.aria-label]="'Search'">
                <mat-icon>search</mat-icon>
            </a>
        </mat-form-field>
    </div>
</div>
<div class="card">
    <div class="card-body table-responsive p-0">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>{{ 'Project No' | translate }}</th>
                    <th>{{ 'Project Name' | translate }}</th>
                    <th>{{ 'Description' | translate }}</th>
                    <th>{{ 'User Name' | translate }}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of projects">
                    <td> {{ project.Id }} </td>
                    <td> {{ project.ProjectName }}</td>
                    <td> {{ project.Description }}</td>
                    <td> {{ project.UserName | translate }}</td>
                    <td class="list-button text-right">
                        <a mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon class="list-menu">more_vert</mat-icon>
                        </a>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item [routerLink]="['/admin/project/detail/',project.Id]">
                                <mat-icon>remove_red_eye</mat-icon>
                                <span>{{ 'Examine' | translate }}</span>
                            </a>
                            <a mat-menu-item [routerLink]="['/admin/project/edit/',project.Id]">
                                <mat-icon>edit</mat-icon>
                                <span>{{ 'Edit' | translate }}</span>
                            </a>
                            <a mat-menu-item (click)="projectDelete(project.Id)">
                                <mat-icon>delete</mat-icon>
                                <span>{{ 'Delete' | translate }}</span>
                            </a>
                        </mat-menu>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>