<form #addProjectForm='ngForm' (ngSubmit)="onSave(addProjectForm)">
    <div class="form-group mt-2">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'Task Name' | translate }}</mat-label>
            <textarea matInput maxlength="150" class="textarea" rows="3" type="text"
                placeholder="{{ 'Enter Task Name' | translate }}" name="TaskName" #TaskName="ngModel"
                [(ngModel)]="_model.TaskName" required></textarea>
            <mat-error *ngIf="TaskName.invalid&&TaskName.touched">
                {{ 'Task Name field must be filled' | translate }}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'Description' | translate }}</mat-label>
            <textarea matInput type="text" maxlength="1000" rows="5" placeholder="{{ 'Enter Description' | translate }}"
                name="Description" #Description="ngModel" [(ngModel)]="_model.Description" class="textarea"></textarea>
            <mat-error *ngIf="Description.invalid&&Description.touched">
                {{ 'Description field must be filled' | translate }}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'Due Date' | translate }}</mat-label>
            <input matInput [matDatepicker]="picker1" name="DueDate" #DueDate="ngModel" [(ngModel)]="_model.DueDate"
                required>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="DueDate.invalid&&DueDate.touched">
                {{ 'Fill in the Due Date field' | translate }}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'User'| translate}}</mat-label>
            <select matNativeControl name="UserID" #UserID="ngModel" [(ngModel)]="_model.UserID" required>
                <option *ngFor="let user of users" [value]="user.UserID">
                    {{ user.FirstName }} {{ user.LastName }}</option>
            </select>
            <mat-error *ngIf="UserID.invalid">
                {{ 'Select the User' | translate }}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-group" [hidden]="_addUpdateControl">
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{'Task Status Name'| translate}}</mat-label>
            <select matNativeControl name="TaskStatusName" [disabled]="_addUpdateControl" #TaskStatusName="ngModel"
                [(ngModel)]="_model.TaskStatusName" required>
                <option value="TO DO">{{'TO DO' | translate}}</option>
                <option value="IN PROGRESS">{{'IN PROGRESS' | translate}}</option>
                <option value="TEST">{{'TEST' | translate}}</option>
                <option value="DONE">{{'DONE' | translate}}</option>
            </select>
            <mat-error *ngIf="TaskStatusName.invalid">
                {{ 'Select the Status Name' | translate }}</mat-error>
        </mat-form-field>
    </div>
    <button type="submit" class="btn btn-dark w-100" [disabled]="disableButton">{{'Save'| translate}}</button>
</form>