<div class="bg-image"></div>
<table class="table-responsive mt-5">
    <tr>
        <td class="px-3">
            <div class="p-4 border border-secondary bg-black rounded-xl min-max-h mx-auto">
                <div class="mx-auto" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todos"
                    [cdkDropListConnectedTo]="[progressList, doneList, testList]" (cdkDropListDropped)="onDrop($event)">
                    <h2 class="text-center">{{ 'To Do' | translate}}</h2>
                    <mat-card class="p-3 bg-dark text-white d-block mb-3 cards rounded-xl" *ngFor="let todo of todos"
                        cdkDrag>
                        <mat-card-header>
                            <mat-card-title class="d-block">{{todo.name}}</mat-card-title>
                            <mat-card-subtitle class="mt-3 d-block text-right user-text">{{todo.category}}
                            </mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </td>
        <td class="px-3">
            <div class="p-4 border border-secondary bg-black rounded-xl min-max-h mx-auto">
                <div class="mx-auto" cdkDropList #progressList="cdkDropList" [cdkDropListData]="progresies"
                    [cdkDropListConnectedTo]="[testList, doneList, todoList]" (cdkDropListDropped)="onDrop($event)">
                    <h2 class="text-center">{{'In Progress' | translate}}</h2>
                    <mat-card class="p-3 bg-dark text-white d-block mb-3 cards rounded-xl"
                        *ngFor="let progress of progresies" cdkDrag>
                        <mat-card-header>
                            <mat-card-title class="d-block">{{progress.name}}</mat-card-title>
                            <mat-card-subtitle class="mt-3 d-block text-right user-text">{{progress.category}}
                            </mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </td>
        <td class="px-3">
            <div class="p-4 border border-secondary bg-black rounded-xl min-max-h mx-auto">
                <div class="mx-auto" cdkDropList #testList="cdkDropList" [cdkDropListData]="tests"
                    [cdkDropListConnectedTo]="[doneList, todoList, progressList]" (cdkDropListDropped)="onDrop($event)">
                    <h2 class="text-center">{{'Test' | translate}}</h2>
                    <mat-card class="p-3 bg-dark text-white d-block mb-3 cards rounded-xl" *ngFor="let test of tests"
                        cdkDrag>
                        <mat-card-header>
                            <mat-card-title class="d-block">{{test.name}}</mat-card-title>
                            <mat-card-subtitle class="mt-3 d-block text-right user-text">{{test.category}}
                            </mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </td>
        <td class="px-3">
            <div class="p-4 border border-secondary bg-black rounded-xl min-max-h mx-auto">
                <div class="mx-auto" cdkDropList #doneList="cdkDropList" [cdkDropListData]="completed"
                    [cdkDropListConnectedTo]="[testList, todoList, progressList]" (cdkDropListDropped)="onDrop($event)">
                    <h2 class="text-center">{{'Done' | translate }}</h2>
                    <mat-card class="p-3 bg-dark text-white d-block mb-3 cards rounded-xl"
                        *ngFor="let complete of completed" cdkDrag>
                        <mat-card-header>
                            <mat-card-title class="d-block">{{complete.name}}</mat-card-title>
                            <mat-card-subtitle class="mt-3 d-block text-right user-text">{{complete.category}}
                            </mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </td>
    </tr>
</table>