.cdk-drag-placeholder {
  opacity: 0;
}
.min-height{
  min-height: 400px;
}
.cursor-pointer{
  cursor: pointer;
}
.add-btn{
    position: relative;
    top: -40px;
    margin-left: 220px;
    cursor: pointer;
}
.cards {
  min-width: 220px !important;
}
.cards:active {
  cursor: all-scroll;
  min-width: 220px !important;
}
.rounded-xl {
  border-radius: 10px;
}
table{
  height: calc(100vh - 60px);
}
.min-max-h {
  min-height: 520px;
  width: 90%; 
  min-width: 300px;
  max-height: 520px;
  overflow-y: auto;
  opacity: 0.83;
}
table{
  padding-left: calc( 50vw - 700px);
}
.user-text {
  color: rgb(210, 210, 211);
  font-size: 11px;
}
.bg-image {
  background-image: url("../../../../assets/images/background-fi3.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-size: cover;
  position: fixed;
}
td{
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color:transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent; 
  border-radius:15px;
  opacity: 0.4;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(27, 27, 27);
}
}