.bg-color{
    background-color: rgba(104, 105, 105, .7);
}
.font-size{
    font-size: 15px;
}
.nav-link{
    color: rgb(231, 231, 231)!important;
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}
.nav-link:active{
    color: white!important;
}
.navbar-nav{
    flex-direction: row!important;
    margin-right: auto;
}
.bg-top{
    background: rgb(0, 123, 255, 1)!important;
}
.lang {
    position: relative;
    width: 25px;
    height: 25px;

  &__selection {
    cursor: pointer;
  }
}
.flag-height{
    padding-top: 5px;
    padding-bottom: 0;
    padding-left: 0!important;
    padding-right: 0!important;
}